<!DOCTYPE html>
<html>
  <head>
    <!-- vueの読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    test
    <br/>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover me !!<br/>
        ↑カーソルを合わせてみよう
      </span>
    </div>
    <div id="app-3">
      <span v-if="seen">Now you see me</span><br/>
      ↑F12を押してコンソールでapp3.seen = falseを入力してみよう
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      app4.todos.push({ text: 'New item' })と入力してみよう<br/>
      jQueryのように追加されるよ
    </div>
    <script>
      <!-- idで引っ掛けて、動的に文字を置き換える -->
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!!'
        }
      })
      console.log("コンソールに出力されることを確認")
      // カーソルを合わせたときの挙動(v-bind)
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: 'Loadging now' + new Date().toLocaleString()
        }
      })
      // フラグによって分岐をする(v-if)
      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
      // ループ処理
      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: "one" },
            { text: "two" },
            { text: "three" }
          ]
        }
      })
    </script>
  </body>
</html>
